<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>couchdbtest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CouchDBTestServlet</display-name>
    <servlet-name>CouchDBTestServlet</servlet-name>
    <servlet-class>com.test.CouchDBTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CouchDBTestServlet</servlet-name>
    <url-pattern>/CouchDBTestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CloudantTestServlet</display-name>
    <servlet-name>CloudantTestServlet</servlet-name>
    <servlet-class>com.test.CloudantTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CloudantTestServlet</servlet-name>
    <url-pattern>/CloudantTestServlet</url-pattern>
  </servlet-mapping>
</web-app>